body{
    background-color:whitesmoke;
    font-family: Calibri;
    color: black;
    text-align: center;
    }

table, th, td{
    font-family: Calibri;
    font-size: 16px;
    }

    #table1{
        width: 90%;
        text-align: left;
    }

    #table2{
        width: 90%;;
        text-align: center;
    }  

