body{
    background-color:whitesmoke;
    font-family: Calibri;
    font-size: large;
    color: black;
    text-align: center;
}
table, td{
    font-family: Calibri;
    font-size: 16px;
    }

    #table1{
        width: 900px;
        text-align: left;
    }